/*轮播图*/
.ant-carousel .slick-slide {
    text-align: center;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}

/*轮播图照片*/
.ant-carousel .slick-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*图片*/
.indexPhoto {
    width: 100%;

}

.indexPhoto dl {
    display: block;
    width: 100%;
}

.indexPhoto dt, .indexPhoto dd {
    float: left;
    display: block;
    position: relative;
}

.indexPhoto dt {
    width: 50%;
    height: 310px;
    border-right: 3px solid #ffffff;

}

.indexPhoto dd {
    width: 25%;
    height: 157px;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.indexPhoto dt img,
.indexPhoto dd img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.indexPhoto dd p {
    position: relative;
    display: block;
    float: left;
}

.indexPhoto dd p:first-child {
    float: left;
}

/*新闻标题*/
.indexPhoto-title {
    /*display: none;*/
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 200;
}

/*.indexPhoto dt:hover .indexPhoto-title, .indexPhoto dd:hover .indexPhoto-title {
    display: block;
}*/

/*按钮*/
.btn::after {
    content: "";
    clear: both;

}

.btn-hollow {
    color: #0094E6;
    border: 1px solid #0094E6;
}

.btn-hollow-gray {
    color: #999;
    border: 1px solid #ddd;
}

.indexDade {
    position: relative;
}

.indexTody {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 45px;
    z-index: 1;
}

.indexTody dt, .indexTody dd {
    display: inline-block;
    margin: 0 5px;
}

.indexTody .day {
    font-size: 40px;
    color: #333;
    line-height: 46px;
}

.indexTody .week {
    font-size: 14px;
    color: #333;
    padding-top: 10px;
}

/* Acitivites */
.indexDiv {
    width: 100%;
    padding: 55px 0;
    overflow: hidden;
    margin: 0;
}

.center {
    width: 1050px;
    margin: 0 auto;
    overflow: hidden;
}

/* 标题 */

.titleH4 {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.titleH4::after {
    content: "";
    width: 60px;
    margin-left: -30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    background-color: #0094E6;
}

.titleH4 h4 {
    font-size: 36px;
    margin-bottom: 28px;
    font-weight: 200;
}

.titleH4 p {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 100;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    color: #999;

}

.titleH4 .timeLine {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 100;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    color: #999;

}

.titleH4 p span {

    margin-right: 20px;
}

/*Acitivites*/
.indexAcitivites {
    width: 100%;
    display: block;
    margin: 0;
    overflow: hidden;
}

.indexAcitivites li {
    float: left;
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    width: 30%;
    padding: 20px;
}

.indexAcitivites li:nth-child(2) {
    margin: 0 5%;
}

.indexAcitivites li h4 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 200;
}

.indexAcitivites li p {
    color: #999;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 20px;
}

.indexAcitivites li p span {
    margin-right: 20px;
}

.indexAcitivites li:hover {
    background-color: #fafafa;
}

.indexAcitivites-more {
    /*  margin-top: 60px;*/
    text-align: center;
    width: 120px;
    margin: 60px auto 0;
    overflow: hidden;
    display: block;
}

/*按钮*/
.btn {
    height: 40px;
    line-height: 38px;
    border-radius: 100px;
    display: block;
    text-align: center;
    font-size: 15px;
    min-width: 120px;
    float: left;
    box-sizing: border-box;
    /* font-size: 200;*/
}

.btn::after {
    content: "";
    clear: both;
}

.btn-hollow {
    color: #0094E6;
    border: 1px solid #0094E6;
}

.btn-hollow-gray {
    color: #999;
    border: 1px solid #ddd;
}

.layui-btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    min-width: 90px;
}

.layui-btn-normal {
    background-color: #0094E6;
}

.layui-btn-primary {
    border-color: #0094E6;
    color: #0094E6;
}

.layui-btn-primary:hover {
    border-color: #0094E6;
    color: #0094E6;
}

.colorsBox {
    margin-bottom: 18px;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 12px 0;
    top: -5px;
    border-top: 0;
}

.colorsBox li {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin: 0 20px;
    color: #999;
}

.colorsBox li .box {
    display: block;
    width: 8px;
    height: 8px;
    float: left;
    background: #5BC36C;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    margin-top: 8px;
}

.colorsBox li .box.blue {
    background: #F0F0F0;
}

.WdateDiv .dpTitle {
    height: 90px;
    color: #404040;
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(241, 241, 241, 1);
}

.WdateDiv .dpTitle .time {
    width: 127px;
    height: 30px;
    float: left;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 10px;
}

.WdateDiv .dpTitle .datetimeP {
    width: 404px;
    height: 90px;
    text-align: center;
    /* padding-left: 85px; */
    margin: auto;
}

.Today {
    display: inline-block;
    width: 70px;
    height: 59px;
    font-size: 48px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #000;
    padding-right: 12px;
    text-align: center;
}

.next-month-btn-day {
    display: inline-block;
    width: 100px;
    height: 40px;
}

.Month {
    display: inline-block;
    width: 100px;
    height: 20px;

}

.ChinaBeijing {

}

.WdateDiv .dpTitle .datetimeP span {
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #000;
    letter-spacing: 1px;
}

.WdateDiv .dpTitle .dBTop {
    width: 500px;
    height: 40px;
    padding-top: 4px;
}

.WdateDiv .dBTitle {
    width: 450px;
    height: 40px;
    padding-top: 17px;
    border: 1px solid rgba(241, 241, 241, 1);
    text-align: center;
    border-bottom: none;
    border-top: none;

}

.WdateDiv .dBTitle li {
    display: inline-block;
    color: #000;
    font-size: 14px;
    width: 56px;
    height: 19px;

}

.dpBody {
    width: 450px;
    height: 270px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(241, 241, 241, 1);
    border-top: none;
    border-radius: 0;
}

.dpBody ul {
    width: 400px;
    height: 220px;
    margin: 0 auto;
}

.dpBody ul li {
    width: 31px;
    height: 30px;
    margin: 6px 13px;
    line-height: 30px;
    border: 1px solid #FFF;
    background: #ffffff;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;

}

.dpRound {
    width: 450px;
    height: 49px;
    line-height: 35px
}

/*文字*/
.Overdue, .Expire {
    width: 207px;
    height: 35px;
    display: inline-block;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: rgba(153, 153, 153, 1)
}

/*小图标*/
.Overdue .yellowBox, .Expire .blueBox {
    display: inline-block;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 14px;
    font-family: SourceHanSansCN-Light;
    font-weight: 300;
    color: rgba(153, 153, 153, 1)
}


.Overdue .yellowBox {
    background: #52c41a;
}

.Expire .blueBox {
    background: #faad14;
}

/*可申请的样式*/
.darkgSelected {
    color: #69c0ff;
    background: #ffffff !important;
    border-radius: 50%;
}
.darkgSelected:hover{
    background: #87e8de !important;
    color: #f8f8f8;
}


/*当天之前的样式*/
.darkgUnSelected {
    color: #999999; /*浅灰色*/
    background: #fff !important;
}

/*申请满的样式*/
.darkgFull {
    color: #ffffff; /*橙色*/
    background: #faad14 !important;
}

/*字间距离的样式*/
.green {
    color: #fff !important;
    background: rgba(240, 240, 240, 1) !important;
    border-radius: 50%;
}

/*当天的样式*/
.dayColor{
    color: #fff !important;
    background: #69c0ff !important;
    border-radius: 50%;

}




